@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local('Montserrat Thin '), local('Montserrat-Thin'),
    url('../../node_modules/typeface-montserrat/files/montserrat-latin-100.woff2') format('woff2'),
    url('../../node_modules/typeface-montserrat/files/montserrat-latin-100.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat Light'),
    url('../../node_modules/typeface-montserrat/files/montserrat-latin-300.woff2') format('woff2'),
    url('../../node_modules/typeface-montserrat/files/montserrat-latin-300.woff') format('woff');
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000;
}

input,
select {
  vertical-align: middle;
}

*:focus {
  outline: none;
}
